<div class="card">
    <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Facebook_like_thumb.png/1196px-Facebook_like_thumb.png"
        alt="<%= product.name %">
        class="card_image"
    >
    <h3 class="card_title"><%= product.name %></h3>
    <p class="card_description"><%= product.description %></p>
    <p class="card_price"><%= product.price %></p>

    <a href="#" class="button">View details</a>
    <button class="button button--danger">Delete</button>
</div>